<%= render 'layouts/navbar' %>
<div class="container category-show">
  <div class="row">
    <div class="col-md-8">
      <h1>
        <%= @category.name %>
      </h1>

      <table class="articles-list">
        <tr>
          <th>
            <h3>Название</h3>
          </th>
        </tr>

        <% Article.where("category_id = ?", @category.id).order(updated_at: :asc).each do |article| %>
            <tr class="article-srting" data-item_id="<%= article.id %>">
              <td><%= article.title %></td>
              <td class="control-btn"><button class="simple-button hard-button"><%= link_to 'Показать', article_path(article) %></button></td>
              <td class="control-btn">
                <button class="edit-article-button simple-button">Изменить</button>
              </td>
              <td class="control-btn">
                <button class="delete-article-button simple-button">Удалить</button>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-4 text-center">
      <div class="edit-article" style="display: none">
        <h1>Изменение статьи</h1>

        <form id="edit_article" data-item_id="" accept-charset="UTF-8">
          <%= render 'articles/formpart' %>
          <p>
            <button class="change-article simple-button">Сохранить изменения</button>
            <button class="undo-change-article simple-button">Отмена</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
